* {
  font-family: Verdana, sans-serif;
  background-color: #e9e9e9;
}

body {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

#brand-logo {
  display: block;
  width: 25vh;
  margin-left: auto;
  margin-right: auto;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

nav ul {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  list-style: none;
}
li a {
  text-align: center;
  text-decoration: none;
  color: rgb(63, 60, 60);
  transition: all 0.25s ease-out;
}
li a:hover {
  color: #9ea0a0;
  text-shadow: 5px 5px solid black;
  text-decoration: underline;
}

h2 {
  font-size: 1.5rem;
  background-color: transparent;
  color: #e9e9e9;
  text-align: center;
}

section {
  display: flex;
}

article {
  flex: 1;
}

p {
  background-color: transparent;
}

h1 {
  font-size: 1.8rem;
  text-align: right;
  margin-right: 5vw;
  margin-left: 25vw;
  color: #e9e9e9;
  background-color: transparent;
}
#big-promo {
  margin-top: 5vh;
  padding-top: 8vw;
  padding-bottom: 8vw;
  border-radius: 20px;
  align-items: right;
  justify-content: right;
  background-color: #e9e9e9;
  /* background-blend-mode: hard-light; */
  background-image: linear-gradient(
      90deg,
      #e9e9e923 35%,
      rgba(19, 19, 19, 0.733) 100%
    ),
    url("assets/big-promo-img-modified1.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}

#big-promo-text {
  text-align: end;
  color: #e4e4e4;
  background-color: transparent;
  font-size: 0.8rem;
  margin-right: 5vw;
  margin-left: 32vw;
  margin-bottom: 4vw;
}

#ring, #ring:before {
  margin-top: 5vh;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  background-color: #e9e9e9;
  background-image: url("assets/diamond_ring.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center top 30%;
  border-radius: 20px;
  padding-top: 1vh;
  padding-bottom: 14vh;
  padding-left: 3vw;
  padding-right: 3vw;
  transition: all 0.45s ease-out;
}

#ring:hover, #ring:focus{
  background-color: #19191960;  
  background-blend-mode: multiply;

  transform: scale(1.05);
  opacity: 1;
}
#ring p:hover, #ring p:focus {
opacity: 1;
}

#ring p {
  color: #e9e9e9;
  opacity: 0;
  text-align: center;
  transition: all 0.25s ease-in;
}


#woman, #woman:before {
  margin-top: 5vh;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  background-color: #e9e9e9;
  background-image: url("assets/diamond_ring2.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  border-radius: 20px;
  padding-top: 1vh;
  padding-bottom: 14vh;
  padding-left: 3vw;
  padding-right: 3vw;
  transition: all 0.45s ease-out;
}

#woman:hover, #woman:focus{
  background-color: #19191960;  
  background-blend-mode: multiply;
  transform: scale(1.05);
  opacity: 1;
}
#woman p:hover, #woman p:focus {
opacity: 1;
}

#woman p {
  color: #e9e9e9;
  opacity: 0;
  text-align: center;
  transition: all 0.25s ease-in;
}

#jewel, #jewel:before {
  margin-top: 5vh;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  background-color: #e9e9e9;
  background-image: url("assets/diamond_necklace.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  border-radius: 20px;
  padding-top: 1vh;
  padding-bottom: 14vh;
  padding-left: 3vw;
  padding-right: 3vw;
  transition: all 0.45s ease-out;
}

#jewel:hover, #jewel:focus{
  background-color: #19191960;  
  background-blend-mode: multiply;
  transform: scale(1.05);
  opacity: 1;
}
#jewel p:hover, #jewel p:focus {
opacity: 1;
}

#jewel p {
  color: #e9e9e9;
  opacity: 0;
  text-align: center;
  transition: all 0.25s ease-in;
}

footer {
  padding-top: 3vh;
  
}
div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3vh;
}

div p {
  text-align: center;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 100;
}

@media only screen and (max-width: 800px) {
  section {
    width: 100%;
    display: block;
  }
}
